<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="MSMQ.IISIntegratedDemo.OrderService">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\IISIntegratedDemo/OrderService.svc" binding="msmqIntegrationBinding" contract="MSMQ.IISIntegratedDemo.IOrderService"></endpoint>
      </service>
    </services>
    <bindings>
      <msmqIntegrationBinding>
        <binding durable="true">
          <security mode="None">
            
          </security>
        </binding>
      </msmqIntegrationBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
 </system.webServer>  
</configuration>
